<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>房屋列表</title>
    <link rel="stylesheet" type="text/css" href="../static/css/house.css">
</head>
<body>
    <div class="containter">
        <div class="house-list">

            <div class="houses-item">
                <div class="house-img">
                    <img src="http://img.villaday.com/images/village/vg_1/1-99696efc-a9c7-42f3-be23-24045c7ff1ba.jpg-t750x350" alt="小梅沙">
                    <div class="house-price">
                        <div>$<span class="fs30">780</span>起</div>
                    </div>
                </div>
                <div class="house-detail">
                    <p class="house-title">小梅沙万科适应力</p>
                    <p class="house-desc">看尽大鹏湾最美海景，享受假日的悠哉</p>
                    <div class="house-mark">深圳，盐田区</div>
                </div>
            </div>
            <div class="houses-item">
                <div class="house-img">
                    <a><img src="http://img.villaday.com/images/village/vg_1/1-99696efc-a9c7-42f3-be23-24045c7ff1ba.jpg-t750x350" alt="小梅沙">
                    </a>
                    <div class="house-price">
                        <div>$<span class="fs30">780</span>起</div>
                    </div>
                </div>
                <div class="house-detail">
                    <p class="house-title">小梅沙万科适应力</p>
                    <p class="house-desc">看尽大鹏湾最美海景，享受假日的悠哉</p>
                    <div class="house-mark">深圳，盐田区</div>
                </div>
            </div>
            <div class="houses-item">
                <div class="house-img">
                    <a><img src="http://img.villaday.com/images/village/vg_1/1-99696efc-a9c7-42f3-be23-24045c7ff1ba.jpg-t750x350" alt="小梅沙">
                    </a>
                    <div class="house-price">
                        <div>$<span class="fs30">780</span>起</div>
                    </div>
                </div>
                <div class="house-detail">
                    <p class="house-title">小梅沙万科适应力</p>
                    <p class="house-desc">看尽大鹏湾最美海景，享受假日的悠哉</p>
                    <div class="house-mark">深圳，盐田区</div>
                </div>
            </div>
            <div class="houses-item">
                <div class="house-img">
                    <a><img src="http://img.villaday.com/images/village/vg_1/1-99696efc-a9c7-42f3-be23-24045c7ff1ba.jpg-t750x350" alt="小梅沙">
                    </a>
                    <div class="house-price">
                        <div>$<span class="fs30">780</span>起</div>
                    </div>
                </div>
                <div class="house-detail">
                    <p class="house-title">小梅沙万科适应力</p>
                    <p class="house-desc">看尽大鹏湾最美海景，享受假日的悠哉</p>
                    <div class="house-mark">深圳，盐田区</div>
                </div>
            </div>
            <div class="houses-item">
                <div class="house-img">
                    <a><img src="http://img.villaday.com/images/village/vg_1/1-99696efc-a9c7-42f3-be23-24045c7ff1ba.jpg-t750x350" alt="小梅沙">
                    </a>
                    <div class="house-price">
                        <div>$<span class="fs30">780</span>起</div>
                    </div>
                </div>
                <div class="house-detail">
                    <p class="house-title">小梅沙万科适应力</p>
                    <p class="house-desc">看尽大鹏湾最美海景，享受假日的悠哉</p>
                    <div class="house-mark">深圳，盐田区</div>
                </div>
            </div>
            <div class="houses-item">
                <div class="house-img">
                    <a><img src="http://img.villaday.com/images/village/vg_1/1-99696efc-a9c7-42f3-be23-24045c7ff1ba.jpg-t750x350" alt="小梅沙">
                    </a>
                    <div class="house-price">
                        <div>$<span class="fs30">780</span>起</div>
                    </div>
                </div>
                <div class="house-detail">
                    <p class="house-title">小梅沙万科适应力</p>
                    <p class="house-desc">看尽大鹏湾最美海景，享受假日的悠哉</p>
                    <div class="house-mark">深圳，盐田区</div>
                </div>
            </div>
            <div class="houses-item">
                <div class="house-img">
                    <a><img src="http://img.villaday.com/images/village/vg_1/1-99696efc-a9c7-42f3-be23-24045c7ff1ba.jpg-t750x350" alt="小梅沙">
                    </a>
                    <div class="house-price">
                        <div>$<span class="fs30">780</span>起</div>
                    </div>
                </div>
                <div class="house-detail">
                    <p class="house-title">小梅沙万科适应力</p>
                    <p class="house-desc">看尽大鹏湾最美海景，享受假日的悠哉</p>
                    <div class="house-mark">深圳，盐田区</div>
                </div>
            </div>

        </div>
    </div>


</body>
</html>