<!DOCTYPE html>
<!--<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml">-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link type="text/css" rel="stylesheet" href="../static/css/index.css"/>
    <title>主页</title>
</head>
<body>

    <div class="container">
        <div class="player">
            <video webkit-playsinline playsinline="true" preload="none" src="http://baobab.kaiyanapp.com/api/v1/playUrl?vid=26698&editionType=normal&source=qcloud"></video>
            <div class="cover"></div>
            <div class="play-button"></div>
        </div>

        <div class="video_info">

            <div class="video_detail">
                <h1>超越人类：世界首款有触觉的脑控假肢</h1>
                <div class="driver driver-shot"></div>
                <p>记录 / 11`37"</p>
                <p class="desctiption">通过最尖端的模块化假肢获得触觉，用两米外的机器手控制每一个手指关节抓住小球——人类的进化不再依赖于缓慢变化的基因，一条新的道路就在我们眼前。</p>
            </div>
            <div class="driver"></div>
            <!--下载区域-->
            <div class="downer">

            </div>

            <div class="driver"></div>

            <!--推荐视频列表-->
            <div class="video_list_position">
                <div class="video_list">
                    <div class="relate_video">
                        <div class="cover">
                            <div class="meta">
                                <div class="title">黑科技平衡机器人</div>
                                <div class="category">#创意 / 1' 36"</div>
                            </div>
                        </div>

                    </div>
                    <div class="relate_video">
                        <div class="cover">
                            <div class="meta">
                                <div class="title">黑科技平衡机器人</div>
                                <div class="category">#创意 / 1' 36"</div>
                            </div>
                        </div>

                    </div>
                    <div class="relate_video">
                        <div class="cover">
                            <div class="meta">
                                <div class="title">黑科技平衡机器人</div>
                                <div class="category">#创意 / 1' 36"</div>
                            </div>
                        </div>

                    </div>
                    <div class="relate_video">
                        <div class="cover">
                            <div class="meta">
                                <div class="title">黑科技平衡机器人</div>
                                <div class="category">#创意 / 1' 36"</div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


        </div>
    </div>

</body>
</html>