<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" >
    <title>登录</title>
</head>
<body>
    <div class="loginBar">

        <div class="loginCell">
        <input class="login_input" type="tel" placeholder="请输入手机号码">
    </div>

        <div class="loginCell">
            <input class="login_input" type="text" placeholder="请输入验证码" maxlength="6">
        </div>

        <div class="loginCell">
            <button value="登录" class="btn" content="登录">登录</button>
            <button value="取消" class="btn" content="取消">取消</button>
        </div>

    </div>
</body>
</html>